* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    background-color: #944e63;
    color: white;
    text-align: center;
    border-radius: 12px;
    margin: 5px 0;
    padding: 10px 0;
}

.view {
    border: 5px solid #b47b84;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #caa6a6;
}

input {
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 16px;
    
}

#form {
    display: flex;
    gap: 5px;
    justify-content: center;
    background-color: #Ffe7e7;
    padding-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}